<!DOCTYPE html>
<!-- saved from url=(0045)http://pixner.net/boleto/demo/movie-list.html -->
<html lang="en"
  class=" sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./movie-list/bootstrap.min.css">
  <link rel="stylesheet" href="./movie-list/all.min.css">
  <link rel="stylesheet" href="./movie-list/animate.css">
  <link rel="stylesheet" href="./movie-list/flaticon.css">
  <link rel="stylesheet" href="./movie-list/magnific-popup.css">
  <link rel="stylesheet" href="./movie-list/odometer.css">
  <link rel="stylesheet" href="./movie-list/owl.carousel.min.css">
  <link rel="stylesheet" href="./movie-list/owl.theme.default.min.css">
  <link rel="stylesheet" href="./movie-list/nice-select.css">
  <link rel="stylesheet" href="./movie-list/main.css">

  <link rel="shortcut icon" href="http://pixner.net/boleto/demo/assets/images/favicon.png" type="image/x-icon">



  <title>Boleto - Online Ticket Booking Website HTML Template</title>

</head>

<body>
  <!-- ==========Preloader========== -->
  <div class="preloader" style="display: none;">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ==========Preloader========== -->
  <!-- ==========Overlay========== -->
  <div class="overlay"></div>
  <a href="http://pixner.net/boleto/demo/movie-list.html#0" class="scrollToTop active">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- ==========Overlay========== -->

  <!-- ==========Header-Section========== -->
  <header class="header-section header-active">
    <div class="container">
      <div class="header-wrapper">
        <div class="logo">
          <a href="http://pixner.net/boleto/demo/index.html">
            <img src="./movie-list/logo.png" alt="logo">
          </a>
        </div>
        <ul class="menu">
          <li class="menu-item-has-children">
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">Phim</a>
            <ul class="submenu">
              <li>
                <a href="http://pixner.net/boleto/demo/index.html">Phim Đang Chiếu</a>
              </li>
              <li>
                <a href="http://pixner.net/boleto/demo/index-2.html">Phim sắp chiếu</a>
              </li>
            </ul>
          </li>

          <li class="menu-item-has-children">
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">Rạp</a>
            <ul class="submenu">
              <li>
                <a href="http://pixner.net/boleto/demo/index.html">Tất cả rạp</a>
              </li>
              <li>
                <a href="http://pixner.net/boleto/demo/index-2.html">Rạp đặc biệt</a>
              </li>
            </ul>
          </li>

          <li class="header-button pr-0">
            <a href="http://pixner.net/boleto/demo/sign-up.html">join us</a>
          </li>
        </ul>

      </div>
    </div>
  </header>
  <!-- ==========Header-Section========== -->


  <%-body%>

  <!-- ==========Footer-Section========== -->
  <footer class="footer-section">
    <div class="newslater-section padding-bottom">
      <div class="container">
        <div class="newslater-container bg_img" data-background="./assets/images/newslater/newslater-bg01.jpg"
          style="background-image: url(&quot;./assets/images/newslater/newslater-bg01.jpg&quot;);">
          <div class="newslater-wrapper">
            <h5 class="cate">subscribe to Boleto </h5>
            <h3 class="title">to get exclusive benifits</h3>
            <form class="newslater-form">
              <input type="text" placeholder="Your Email Address">
              <button type="submit">subscribe</button>
            </form>
            <p>We respect your privacy, so we never share your info</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer-top">
        <div class="logo">
          <a href="http://pixner.net/boleto/demo/index-1.html">
            <img src="./movie-list/footer-logo.png" alt="footer">
          </a>
        </div>
        <ul class="social-icons">
          <li>
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="http://pixner.net/boleto/demo/movie-list.html#0" class="active">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
          <li>
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">
              <i class="fab fa-google"></i>
            </a>
          </li>
          <li>
            <a href="http://pixner.net/boleto/demo/movie-list.html#0">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-area">
          <div class="left">
            <p>Copyright © 2020.All Rights Reserved By <a href="http://pixner.net/boleto/demo/movie-list.html#0">Boleto
              </a></p>
          </div>
          <ul class="links">
            <li>
              <a href="http://pixner.net/boleto/demo/movie-list.html#0">About</a>
            </li>
            <li>
              <a href="http://pixner.net/boleto/demo/movie-list.html#0">Terms Of Use</a>
            </li>
            <li>
              <a href="http://pixner.net/boleto/demo/movie-list.html#0">Privacy Policy</a>
            </li>
            <li>
              <a href="http://pixner.net/boleto/demo/movie-list.html#0">FAQ</a>
            </li>
            <li>
              <a href="http://pixner.net/boleto/demo/movie-list.html#0">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- ==========Footer-Section========== -->

  <script src="./movie-list/jquery-3.3.1.min.js"></script>
  <script src="./movie-list/modernizr-3.6.0.min.js"></script>
  <script src="./movie-list/plugins.js"></script>
  <script src="./movie-list/bootstrap.min.js"></script>
  <script src="./movie-list/isotope.pkgd.min.js"></script>
  <script src="./movie-list/magnific-popup.min.js"></script>
  <script src="./movie-list/owl.carousel.min.js"></script>
  <script src="./movie-list/wow.min.js"></script>
  <script src="./movie-list/countdown.min.js"></script>
  <script src="./movie-list/odometer.min.js"></script>
  <script src="./movie-list/viewport.jquery.js"></script>
  <script src="./movie-list/nice-select.js"></script>
  <script src="./movie-list/main.js"></script>


</body>
<div style="position: absolute; top: 0px;"></div>

</html>