<!-- ==========Banner-Section========== -->
<section class="details-banner bg_img">
  <div class="container">
    <div class="details-banner-wrapper">
      <div class="details-banner-thumb">
        <img class="poster" src="<%= movie.Poster %>" alt="movie" />
        <a href="https://www.youtube.com/embed/zDqk1JhmyvE" target=_blank class="video-popup">
          <img src="/movie-detail/video-button.png" alt="movie" />
        </a>
      </div>

      <div class="details-banner-content offset-lg-3">
        <h3 class="title">
          <%= movie.Ten %>
        </h3>
        <a href="#" class="button">Hành Động</a>
        <div class="social-and-duration">
          <div class="duration-area">
            <div class="item">
              <i class="fas fa-calendar-alt"></i><span>
                <%= movie.NgayCongChieu %>
              </span>
            </div>
            <div class="item">
              <i class="far fa-clock"></i><span>
                <%= movie.ThoiLuong %>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->


<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
  <div class="container">
    <div class="book-wrapper offset-lg-3">
      <div class="left-side">
        <div class="movie-summary">
          <p>Sau khi bản thân bỗng nhiên sở hữu “Bàn tay diệt quỷ”, võ sĩ MMA Yong Hoo (Park Seo Joon thủ vai) đã dấn
            thân vào hành trình trừ tà, trục quỷ đối đầu với Giám Mục Bóng Tối (Woo Do Hwan) – tên quỷ Satan đột lốt
            người. Từ đó sự thật về cái chết của cha Yong Hoo cũng dần được hé lộ cũng như nguyên nhân anh trở thành
            “người được chọn”.
            Sau khi bản thân bỗng nhiên sở hữu “Bàn tay diệt quỷ”, võ sĩ MMA Yong Hoo (Park Seo Joon thủ vai) đã dấn
            thân vào hành trình trừ tà, trục quỷ đối đầu với Giám Mục Bóng Tối (Woo Do Hwan) – tên quỷ Satan đột lốt
            người. </p>
        </div>
      </div>
      <a href="#" class="custom-button">book tickets</a>
    </div>
  </div>
</section>
<!-- ==========Book-Section========== -->

<style>
  .title {
    text-transform: uppercase;
  }

  .details-banner-thumb{
    padding-bottom: -450px;
  }

  .poster{
    height: 350px;
    width: 100%;
  }

  .movie-summary{
    width: 600px;
    word-break: break-word;
    margin: 0px 20px;
  }
  
  .book-section{
    margin-block-end: 200px;
  }
</style>