
<style>
    .abanner-section{
        padding: 150px 0 100px;
    }

    .history-ticket{
        background-color: rgb(233, 224, 224);
        border-style:none;
        border-radius: 10px;
        padding: 16px;
        margin: 30px;
        /* text-align: center; */
        box-shadow: 5px 5px 5px rgb(138, 130, 130);
    }

    .col-left{
        font-weight: bold;
        color: #000000;
        font-size: 28px;
        text-align: right;
        margin-left: 250px;
        width: 200px;
    }

    .col-right{
        color: #000000;
        text-transform:capitalize;
        font-weight: bold;
        font-size: 28px;
        text-align: left;
        /* margin-left: -50px; */
    }

    .info li{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>

<section class="abanner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="./assets/images/banner/banner01.jpg"></div>
    <div class="container">
        <div class="history-ticket">
            <ul class="info">
                <li>
                    <span class="col-left">Cinema: </span>
                    <span class="col-right">CGV Cộng Hòa</span>
                </li>

                <li>
                    <span class="col-left">Movie: </span>
                    <span class="col-right">Liệt dương thiên đạo</span>
                </li>

                <li>
                    <span class="col-left">Time: </span>
                    <span class="col-right">17:00 19/07/2021</span>
                </li>

                <li>
                    <span class="col-left">Seats: </span>
                    <span class="col-right">A1, A2, A3</span>
                </li>
            </ul>
        </div>

        <div class="history-ticket">
            <ul class="info">
                <li>
                    <span class="col-left">Cinema: </span>
                    <span class="col-right">CGV Cộng Hòa</span>
                </li>

                <li>
                    <span class="col-left">Movie: </span>
                    <span class="col-right">Liệt dương thiên đạo</span>
                </li>

                <li>
                    <span class="col-left">Time: </span>
                    <span class="col-right">17:00 19/07/2021</span>
                </li>

                <li>
                    <span class="col-left">Seats: </span>
                    <span class="col-right">A1, A2, A3</span>
                </li>
            </ul>
        </div>
        <div class="history-ticket">
            <ul class="info">
                <li>
                    <span class="col-left">Cinema: </span>
                    <span class="col-right">CGV Cộng Hòa</span>
                </li>

                <li>
                    <span class="col-left">Movie: </span>
                    <span class="col-right">Liệt dương thiên đạo</span>
                </li>

                <li>
                    <span class="col-left">Time: </span>
                    <span class="col-right">17:00 19/07/2021</span>
                </li>

                <li>
                    <span class="col-left">Seats: </span>
                    <span class="col-right">A1, A2, A3</span>
                </li>
            </ul>
        </div>
        <div class="history-ticket">
            <ul class="info">
                <li>
                    <span class="col-left">Cinema: </span>
                    <span class="col-right">CGV Cộng Hòa</span>
                </li>

                <li>
                    <span class="col-left">Movie: </span>
                    <span class="col-right">Liệt dương thiên đạo</span>
                </li>

                <li>
                    <span class="col-left">Time: </span>
                    <span class="col-right">17:00 19/07/2021</span>
                </li>

                <li>
                    <span class="col-left">Seats: </span>
                    <span class="col-right">A1, A2, A3</span>
                </li>
            </ul>
        </div>
    </div>
</section>