<!-- ==========Preloader========== -->
<div class="preloader" style="display: none">
  <div class="preloader-inner">
    <div class="preloader-icon"><span></span><span></span></div>
  </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="/assets/images/account/account-bg.jpg"
  style="background-image: url('/assets/images/account/account-bg.jpg')">
  <div class="container">
    <div class="padding-top padding-bottom">
      <div class="account-area">
        <div class="section-header-3">
          <span class="cate">welcome</span>
          <h2 class="title">to Boleto</h2>
        </div>
        <form class="account-form" action="/login" method="post">
          <div class="form-group">
            <label for="email">Email<span>*</span></label><input type="email" placeholder="Enter Your Email" id="email"
              name="email" required="" />
          </div>
          <div class="form-group">
            <label for="pass1">Password<span>*</span></label><input type="password" placeholder="Password" id="pass1"
              name="password" required="" />
          </div>
          <div class="form-group text-center">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ==========Sign-In-Section========== -->
<script src="/register/jquery-3.3.1.min.js"></script>
<script src="/register/modernizr-3.6.0.min.js"></script>
<script src="/register/plugins.js"></script>
<script src="/register/bootstrap.min.js"></script>
<script src="/register/isotope.pkgd.min.js"></script>
<script src="/register/magnific-popup.min.js"></script>
<script src="/register/owl.carousel.min.js"></script>
<script src="/register/wow.min.js"></script>
<script src="/register/countdown.min.js"></script>
<script src="/register/odometer.min.js"></script>
<script src="/register/viewport.jquery.js"></script>
<script src="/register/nice-select.js"></script>
<script src="/register/main.js"></script>