<!DOCTYPE html>
<!-- saved from url=(0054)http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html -->
<html
  lang="en"
  class="
    sizes
    customelements
    history
    pointerevents
    postmessage
    webgl
    websockets
    cssanimations
    csscolumns
    csscolumns-width
    csscolumns-span
    csscolumns-fill
    csscolumns-gap
    csscolumns-rule
    csscolumns-rulecolor
    csscolumns-rulestyle
    csscolumns-rulewidth
    csscolumns-breakbefore
    csscolumns-breakafter
    csscolumns-breakinside
    flexbox
    picture
    srcset
    webworkers
  "
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="/register/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/register/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/register/animate.css"
    />
    <link
      rel="stylesheet"
      href="/register/flaticon.css"
    />
    <link
      rel="stylesheet"
      href="/register/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/register/odometer.css"
    />
    <link
      rel="stylesheet"
      href="/register/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/register/owl.theme.default.min.css"
    />
    <link
      rel="stylesheet"
      href="/register/nice-select.css"
    />
    <link
      rel="stylesheet"
      href="/register/main.css"
    />
    <link
      rel="shortcut icon"
      href="http://v.bootstrapmb.com/2020/3/mxabm7542/assets/images/favicon.png"
      type="image/x-icon"
    />
    <title>Boleto - Online Ticket Booking Website HTML Template</title>
  </head>
  <body>
    <!-- ==========Preloader========== -->
    <div class="preloader" style="display: none">
      <div class="preloader-inner">
        <div class="preloader-icon"><span></span><span></span></div>
      </div>
    </div>
    <!-- ==========Preloader========== --><!-- ==========Sign-In-Section========== -->
    <section
      class="account-section bg_img"
      data-background="/assets/images/account/account-bg.jpg"
      style="background-image: url('/assets/images/account/account-bg.jpg')"
    >
      <div class="container">
        <div class="padding-top padding-bottom">
          <div class="account-area">
            <div class="section-header-3">
              <span class="cate">welcome</span>
              <h2 class="title">to Boleto</h2>
            </div>
            <form class="account-form">
              <div class="form-group">
                <label for="email1">Email1<span>*</span></label
                ><input
                  type="text"
                  placeholder="Enter Your Email"
                  id="email1"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="pass1">Password<span>*</span></label
                ><input
                  type="password"
                  placeholder="Password"
                  id="pass1"
                  required=""
                />
              </div>
              <div class="form-group">
                <label for="pass2">Confirm Password<span>*</span></label
                ><input
                  type="password"
                  placeholder="Password"
                  id="pass2"
                  required=""
                />
              </div>
              <div class="form-group checkgroup">
                <input type="checkbox" id="bal" required="" checked="" /><label
                  for="bal"
                  >I agree to the
                  <a
                    href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html#0"
                    >Terms, Privacy Policy</a
                  >and
                  <a
                    href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html#0"
                    >Fees</a
                  ></label
                >
              </div>
              <div class="form-group text-center">
                <input type="submit" value="Sign Up" />
              </div>
            </form>
            <div class="option">
              Already have an account?
              <a href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-in.html"
                >Login</a
              >
            </div>
            <div class="or"><span>Or</span></div>
            <ul class="social-icons">
              <li>
                <a
                  href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html#0"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a
                  href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html#0"
                  class="active"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="http://v.bootstrapmb.com/2020/3/mxabm7542/sign-up.html#0"
                  ><i class="fab fa-google"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- ==========Sign-In-Section========== -->
    <script src="/register/jquery-3.3.1.min.js"></script>
    <script src="/register/modernizr-3.6.0.min.js"></script>
    <script src="/register/plugins.js"></script>
    <script src="/register/bootstrap.min.js"></script>
    <script src="/register/isotope.pkgd.min.js"></script>
    <script src="/register/magnific-popup.min.js"></script>
    <script src="/register/owl.carousel.min.js"></script>
    <script src="/register/wow.min.js"></script>
    <script src="/register/countdown.min.js"></script>
    <script src="/register/odometer.min.js"></script>
    <script src="/register/viewport.jquery.js"></script>
    <script src="/register/nice-select.js"></script>
    <script src="/register/main.js"></script>
  </body>
  <div style="position: absolute; top: 0px"></div>
</html>
